p{
    font-size:2em;
    color:#d96694;
}

h1{
    text-align:center;
    color:#d96694;
}
h2{
   color:#d96694; 
   margin:0.5rem;
   padding: 1rem;
}

h3{
    font-weight:200;
    color:#d96694;
}

body{
    background-color: #2bcfb9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

nav{
    text-align:center;
    
}

ul,ol,li{
    color:#d96694;
} 